<table class="table">
   <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
      <td>Тип дисплея</td>
      <td>{{ product.display }}</td>
    </tr>
    <tr>
      <td>Разрешение экрана</td>
      <td>{{ product.resolution }}</td>
    </tr>
    <tr>
      <td>Ёмкость аккумулятора</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
    <tr>
      <td>Оперативная память</td>
      <td>{{ product.ram }}</td>
    </tr>
    <tr>
      <td>Время работы аккумулятора</td>
      <td>{{ product.time_without_charge }}</td>
    </tr>
    <tr>
      <td>Поддержка SD карт</td>
      <td>{{ product.sd}}</td>
    </tr>
    <tr>
      <td>Максимальный поддерживаемый размер SD-карт</td>
      <td>{{ product.sd_volume_max }}</td>
    </tr>
    <tr>
      <td>Фронтальная камера, МП</td>
      <td>{{ product.frontal_cam_mp }}</td>
    </tr>
    <tr>
      <td>Главная камера, МП</td>
      <td>{{ product.main_cam_mp }}</td>
    </tr>
</table>


